# Shared environment variables used to configure the network of applications
# --------------------------------------------------------------------------

# Postgres variables
# ------------------

# The internal host and port of the postgres database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# The access credentials for the database
POSTGRES_USER=*YOUR_USER_HERE*
POSTGRES_PASSWORD=*YOUR_PASSWORD_HERE*
POSTGRES_DB=zapp-von-bot

# The internal directory within the volume storage for the database's data
PGDATA=/data

# The user id (uid) and group id (gid) of the host user.
# Required to avoid issues with ownership of the volume storage on the host.
POSTGRES_UID=*YOUR_UID_HERE* # Run `id -u` in the terminal to get your uid
POSTGRES_GID=*YOUR_GID_HERE* # Run `id -g` in the terminal to get your gid

# Savy API variables
# ------------------

# The name of the database host - probably the name of the database service in the compose file
SERVER_DATABASE_HOST=database

# Connection settings for the database node client
SERVER_DATABASE_MAX_CONNECTIONS=10
SERVER_DATABASE_CONNECTION_TIMEOUT=2000
SERVER_DATABASE_IDLE_TIMEOUT=10000
